<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="p-card">
            <h5>Add new message on this thread: </h5>
            <hr class="u-sv1">

            <form method="post" enctype="multipart/form-data">
                <label for="name">Your nick: </label>
                <input type="text" id="name" name="name" required>
              
                <label for="textarea">Tell us something interesting: </label>
                <textarea id="textarea" name="text" rows="3" required></textarea>

                <div class="row--50-50">
                    <div class="col">
                        <input type="file" id="" name="file_input" accept="jpg,png,bmp,gif">
                    </div>
                    <div class="col">
                        <button type="submit" name="submit">Submit</button>
                    </div>
                </div>
              
            </form>
        </div>
    </div>
    <div class="col-2"></div>
</div>