.cap ::first-letter {
    color: #ff1111;
}
  

.cap {
    text-transform: capitalize;
}

.container {
    margin-left: 10%;
    margin-right: 10%;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #352e2e !important;
}